<!DOCTYPE html>
<html lang="fr" ng-app='mainApp'>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{app.request.attributes.get('_route')}}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/assets/logoSimple.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable = no">
    <!-- <script data-main="scripts/main" src="/scripts/require.js"></script>
    <script type="text/javascript" src='/scripts/main.js'></script> -->
    <script type="text/javascript" src='/scripts/lib/jquery.min.js'></script>
    <script type="text/javascript" src='/scripts/lib/angular.min.js'></script>
    <script type="text/javascript" src='/scripts/lib/angular-animate.js'></script>
    <script type="text/javascript" src='/scripts/lib/socketio.min.js'></script>
    <script type="text/javascript" src='/scripts/lib/chance.js'></script>
    <script type="text/javascript" src='/scripts/lib/lodash.js'></script>
    <script type="text/javascript" src='/scripts/lib/moment.js'></script>
    <script type="text/javascript" src='/scripts/lib/angular-moment.js'></script>
    <script type="text/javascript" src='/scripts/lib/moment-fr.js'></script>
    <script type="text/javascript" src='/scripts/ts/Functions.js'></script>
    <script type="text/javascript">
      window.nohomo = {{ is_granted('IS_AUTHENTICATED_REMEMBERED') == 1?'true':'false' }};
      window.rocketleague = {{ is_granted('ROLE_SUPER_ADMIN')==1?'true':'false' }}
      window.javaEE = '{{ (app.user.username is defined)?app.user.username:null}}';
      window.php = {{(app.user.id is defined)?app.user.id:"null"}};
    </script>
    {% set connected = is_granted('IS_AUTHENTICATED_REMEMBERED') == 1?true:false %}
    {% set admin = is_granted('ROLE_SUPER_ADMIN') == 1?true:false %}

    <script type="text/javascript" src='/scripts/ts/MainController.js'></script>
    <script type="text/javascript" src='/scripts/ts/Factories.js'></script>

    <script type="text/javascript" src='/scripts/ts/HeaderController.js'></script>
    <script type="text/javascript" src='/scripts/ts/LibraryController.js'></script>
    <script type="text/javascript" src='/scripts/ts/ChatroomController.js'></script>
    <script type="text/javascript" src='/scripts/ts/ProfilController.js'></script>
    <script type="text/javascript" src='/scripts/ts/Components.js'></script>
    <script type="text/javascript" src='/scripts/ts/Directives.js'></script>
    <script type="text/javascript" src='/scripts/ts/Classes.js'></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% block javascript %}{% endblock %}
    <link href="/css/tools.min.css" rel="stylesheet">
    <link href="/css/main.min.css" rel="stylesheet">
    <link href="/css/header.min.css" rel="stylesheet">
    <link href="/css/profil.min.css" rel="stylesheet">
    <link href="/css/library.min.css" rel="stylesheet">
    <link href="/css/chatroom.min.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>

<ng-controller ng-controller='header'>
<header>
    <nav>
        <img class='logo' src="/assets/logoSimple.png" alt="logo">
        <div class="header-separation"></div>
        <ul class="header-nav">
            <a href="{{path('homepage')}}">
              <li class='menu' active='{{app.request.attributes.get('_route') == 'homepage'?'true':'false'}}'>
                  <img false src='/assets/home.svg' class="icon change">
                  <img true src='/assets/home_active.svg' class="icon change">
                  <span class='titre'>Accueil</span>
              </li>
            </a>
            <a href="{{path('library')}}">
              <li class='menu' active='{{app.request.attributes.get('_route') == 'library'?'true':'false'}}'>
                  <img false src='/assets/contenus.svg' class="icon change">
                  <img true src='/assets/contenus_active.svg' class="icon change">
                  <span class='titre'>Bibliothèque</span>
              </li>
            </a>

            <a href="{{ path('chatroom') }}">
              <li class='menu' active='{{app.request.attributes.get('_route') == 'chatroom'?'true':'false'}}'>
                  <img false src='/assets/salons.svg' class="icon change">
                  <img true src='/assets/salons_active.svg' class="icon change">
                  <span class='titre'>Salons</span>
              </li>
            </a>
            <div class="header-separation"></div>

            <li class='ng-cloak' id='search'>
              <input class='s-search' ng-if='Header.displaySearch' type="text" placeholder="Rechercher un utilisateur">
              <div class="s-icon grey"  ng-if='Header.displaySearch' ng-click='Header.displaySearch = false'></div>
              <div class="s-icon green" ng-if='!Header.displaySearch' alt="" ng-click='Header.displaySearch = true'></div>
            </li>
        </ul>
        <ul class="header-menus" ng-cloak>
          {% if not connected %}
            <a href="{{path('fos_user_security_login')}}">
              <li id='connexion' class='menu'>
                Connexion
              </li>
            </a>
            <a href="#">
              <li id='aide' class='menu popup-bouton'>
                Aide
              </li>
            </a>
          {% endif %}


            {% if connected %}
            <li id='notifications' state='false' class='menu popup-bouton' popup="popup-notification"
              ng-click='Notifications.show()'>
                <img src='/assets/notifications.svg' class="icon">
                <div class="counter">
                    <span ng-if='Notifications.number > 0'>{(Notifications.number)}</span>
                </div>
            </li>
            <li id='user' class='menu popup-bouton' popup="popup-user">
                <span class="name">{{app.user.username}}</span>
                <div class="picture" style='background-image: url(/assets/profil.jpg)'></div>
            </li>
            {% endif %}
        </ul>
    </nav>


    <!--  Popups -->



</header>

<div id='popup-notification' state='false' class='ng-cloak popup-box' style='width: 300px'
  ng-blur='Notification.hide()' ng-show='Notifications.display'>
    <img id='pin' src="/assets/up.png" alt="">
    <div class="header">
        Notifications
    </div>
    <div class="content">
      <ul ng-if='Notifications.list.length > 0'>
        <li ng-repeat='notif in Notifications.list| limitTo: 10'>
          <div>{(notif.message)}</div>
          <div class='date' am-time-ago='notif.date'></div>
          <ng-switch on="notif.type">
            <img src="/assets/form-valid-green.svg" alt="" ng-switch-when='success'>
            <img src="/assets/form-invalid-red.svg" alt="" ng-switch-when='error'>
            <img src="/assets/warning.svg" alt="" ng-switch-when='alert'>
            <img src="/assets/info_close.svg" alt="" ng-switch-when='warning'>
          </ng-switch>
        </li>
      </ul>
      <div class="no-content" ng-if='Notifications.list.length == 0'>
        Aucune notification
      </div>
    </div>
</div>


{% if connected %}

<div id='popup-user' class="popup-box" style='width: 200px' state='false'>
    <img id='pin' src="/assets/up.png" alt="">
    <div class="user">
        <div class="user-picture" style='background-image: url(/assets/profil.jpg)'></div>
        <div class="user-name">{{app.user.username}}</div>
    </div>
    <ul class='user-option-list'>
        <a href="{{path('fos_user_profile_show')}}"><li class='user-option'>Mon profil</li></a>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
          <a href="{{path('homepage_admin')}}">
            <li id='aide' class='user-option'>
              Administration
            </li>
          </a>
        {% endif %}
        <li class='user-option'>Aide</li>
        <a href="/app_dev.php/logout"><li class='user-option'>Deconnexion</li></a>
    </ul>
    <img id='pin2' src="/assets/down.png" alt="">
</div>
{% endif %}

<div id='popup-search' class="popup-box" style='width: 400px' state='false'>
    <img id='pin' src="/assets/up.png" alt="">
    <div class="header">
        Contenus
    </div>
    <div class="content">
      <div class="search-content">

      </div>
    </div>
    <img id='pin2' src="/assets/down.png" alt="">
</div>


<!-- Alertes  -->

<ul id="alertes-container" class='ng-cloak' ng-show='Alerts.list.length'>
  <li ng-repeat='alert in Alerts.list track by alert.id' type='{(alert.type)}'>
    <span>{(alert.message)}</span>
    <ng-switch on="alert.type">
      <img src="/assets/form-valid-green.svg" alt="" ng-switch-when='success'>
      <img src="/assets/form-invalid-red.svg" alt="" ng-switch-when='error'>
      <img src="/assets/warning.svg" alt="" ng-switch-when='alert'>
      <img src="/assets/info_close.svg" alt="" ng-switch-when='warning'>
    </ng-switch>
  </li>
</ul>


</ng-controller>

{% block body %}{% endblock %}
{% block footer %}{% endblock %}






</body>
</html>
