<!DOCTYPE html>
<html lang="fr" ng-app='mainApp'>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{app.request.attributes.get('_route')}}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable = no">
    <!-- <script data-main="scripts/main" src="/scripts/require.js"></script>
    <script type="text/javascript" src='/scripts/main.js'></script> -->
    <script type="text/javascript" src='/scripts/lib/jquery.min.js'></script>
    <script type="text/javascript" src='/scripts/lib/angular.min.js'></script>
    <script type="text/javascript" src='/scripts/lib/angular-animate.js'></script>
    <script type="text/javascript" src='/scripts/lib/chance.js'></script>
    <script type="text/javascript" src='/scripts/lib/lodash.js'></script>
    <script type="text/javascript" src='/scripts/lib/moment.js'></script>
    <script type="text/javascript" src='/scripts/lib/angular-moment.js'></script>
    <script type="text/javascript" src='/scripts/lib/moment-fr.js'></script>
    <script type="text/javascript" src='/scripts/ts/Functions.js'></script>
    <script type="text/javascript">
      window.nohomo = {{ is_granted('IS_AUTHENTICATED_REMEMBERED') == 1?'true':'false' }};
      window.rocketleague = {{ is_granted('ROLE_SUPER_ADMIN')==1?'true':'false' }}
      window.javaEE = '{{ (app.user.username is defined)?app.user.username:null}}';
      window.php = {{(app.user.id is defined)?app.user.id:"null"}};
    </script>
    {% set connected = is_granted('IS_AUTHENTICATED_REMEMBERED') == 1?true:false %}
    {% set admin = is_granted('ROLE_SUPER_ADMIN') == 1?true:false %}

    <script type="text/javascript" src='/scripts/ts/MainController.js'></script>
    <script type="text/javascript" src='/scripts/ts/Factories.js'></script>

    <script type="text/javascript" src='/scripts/ts/HeaderController.js'></script>
    <script type="text/javascript" src='/scripts/ts/LibraryController.js'></script>
    <script type="text/javascript" src='/scripts/ts/ChatroomController.js'></script>
    <script type="text/javascript" src='/scripts/ts/Components.js'></script>
    <script type="text/javascript" src='/scripts/ts/Directives.js'></script>
    <script type="text/javascript" src='/scripts/ts/Classes.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js'></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% block javascript %}{% endblock %}
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/tools.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/library.css" rel="stylesheet">
    <link href="/css/chatroom.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>

<ng-controller ng-controller='header'>
<header>
    <nav>
        <img class='logo' src="/assets/logoSimple.png" alt="logo">
        <div class="header-separation"></div>
        <ul class="header-nav">
            <a href="{{path('homepage')}}">
              <li class='menu' active='{{app.request.attributes.get('_route') == 'homepage'?'true':'false'}}'>
                  <img false src='/assets/home.svg' class="icon">
                  <img true src='/assets/home_active.svg' class="icon">
                  <span class='titre'>Accueil</span>
              </li>
            </a>
            <a href="{{path('library')}}">
              <li class='menu' active='{{app.request.attributes.get('_route') == 'library'?'true':'false'}}'>
                  <img false src='/assets/contenus.svg' class="icon">
                  <img true src='/assets/contenus_active.svg' class="icon">
                  <span class='titre'>Bibliothèque</span>
              </li>
            </a>

            <a href="{{ path('chatroom') }}">
              <li class='menu' active='{{app.request.attributes.get('_route') == 'chatroom'?'true':'false'}}'>
                  <img false src='/assets/salons.svg' class="icon">
                  <img true src='/assets/salons_active.svg' class="icon">
                  <span class='titre'>Salons</span>
              </li>
            </a>
            <div class="header-separation"></div>
            <li id='search'>
                <input type="text" class="input-search" name="content" placeholder="Recherche de livres...">
            </li>
        </ul>
        <ul class="header-menus" ng-cloak>
          {% if not connected %}
            <li id='connexion' popup="popup-connexion" class='menu popup-bouton'>
              Connexion
            </li>
            <a href="#">
              <li id='aide' class='menu popup-bouton'>
                Aide
              </li>
            </a>
          {% endif %}

          {% if is_granted('ROLE_SUPER_ADMIN') %}

            <a href="/admin">
              <li id='aide' class='menu popup-bouton'>
                admin
              </li>
            </a>
          {% endif %}


            {% if connected %}
            <li id='notifications' state='' class='menu popup-bouton' popup="popup-notification">
                <img src='/assets/notifications.svg' only class="icon">
                <div class="counter">
                    <span>5</span>
                </div>
            </li>
            <li id='user' class='menu popup-bouton' popup="popup-user">
                <span class="name">{{app.user.username}}</span>
                <div class="picture" style='background-image: url(/assets/profil.jpg)'></div>
            </li>
            {% endif %}
        </ul>
    </nav>


    <!--  Popups -->



</header>

<div id='popup-notification' class="popup-box" style='width: 300px' state='false'>
    <img id='pin' src="/assets/up.png" alt="">
    <div class="header">
        Notifications
    </div>
    <div class="content">

    </div>
</div>

<div id='popup-connexion' class="popup-box" style='width: 350px' state='false'>
    <img id='pin' src="/assets/up.png" alt="">
    <div class="header">
        Connexion
    </div>
    <div class="content">
      <form name='ConnexionFormX' ng-submit='ConnexionForm.submit()'>
        <div class="connexion">

            <text-form vg-model='ConnexionForm.values.login'
                        vg-type='ConnexionForm.login.type'
                        vg-name='ConnexionForm.login.name'
                        vg-placeholder='ConnexionForm.login.placeholder'
                        vg-validator='ConnexionForm.login.validator'
                        vg-errors='ConnexionForm.login.errors'
                        vg-required='ConnexionForm.login.required'>
            </text-form>
            <text-form vg-model='ConnexionForm.values.password'
                        vg-type='ConnexionForm.password.type'
                        vg-name='ConnexionForm.password.name'
                        vg-placeholder='ConnexionForm.password.placeholder'
                        vg-validator='ConnexionForm.password.validator'
                        vg-errors='ConnexionForm.password.errors'
                        vg-required='ConnexionForm.password.required'>
            </text-form>

            <checkbox vg-model='ConnexionForm.values.souvenir'
                      vg-data='ConnexionForm.souvenir'>
            </checkbox>
            <pre class='f-left'>{(ConnexionForm.values | json)}</pre>

        </div>
        <div class="footer">
          <div class="bouton" design='blanc'>
            Mot de passe oublié
          </div>
          <button class="bouton" type='submit' design='green'
                  ng-disabled='ConnexionFormX.$invalid'>
            Connexion
          </button>
        </div>
      </form>
    </div>
</div>

{% if connected %}

<div id='popup-user' class="popup-box" style='width: 200px' state='false'>
    <img id='pin' src="/assets/up.png" alt="">
    <div class="user">
        <div class="user-picture" style='background-image: url(/assets/profil.jpg)'></div>
        <div class="user-name">{{app.user.username}}</div>
    </div>
    <ul class='user-option-list'>
        <li class='user-option'>Mon profil</li>
        <li class='user-option'>Éditer mes infos</li>
        <li class='user-option'>Réglages</li>
        <li class='user-option'>Aide</li>
        <a href="/app_dev.php/logout"><li class='user-option'>Deconnexion</li></a>
    </ul>
</div>
{% endif %}

<div id='popup-search' class="popup-box" style='width: 400px' state='false'>
    <img id='pin' src="/assets/up.png" alt="">
    <div class="header">
        Contenus
    </div>
    <div class="content">
      <div class="search-content">

      </div>
    </div>
</div>


<!-- Alertes  -->

<ul id="alertes-container" class='ng-cloak'>
  <li ng-repeat='alert in Alerts.list track by alert.id' type='{(alert.type)}'>
    <span>{(alert.message)}</span>
    <img src="/assets/{(alert.type == 'success'?'form-valid-green.svg':'form-invalid-red.svg')}" alt="">
  </li>
</ul>


</ng-controller>

{% block body %}{% endblock %}
{% block footer %}{% endblock %}






</body>
</html>
