{% extends 'base.html.twig' %}
{% block title %}{{ user.username }} | Profil Utilisateur{% endblock %}
{% block javascript %}
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/profile.js"></script>
{% endblock %}
{% block stylesheets %}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/profile.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container ng-non-bindable">
        <div class="row">
            <div class="col-md-2">
                <img class="img-circle img-responsive" src="{{ user.pathImg }}"/>
            </div>
            <div class="col-md-10">
                <h2>{{ user.username }}</h2>
                <p>{{ user.email }}</p>
                <p><strong>Description</strong></p>
                <p>{{ user.description }}</p>
            </div>
        </div>
        <div class="row">
            <h2>Pour échanger</h2>
            <input id="id_user_profile" type="hidden" value="{{ id_user_profile }}">
            {% for book in UserBooks %}
                <div class="col-md-3 text-center">
                    <div class="thumbnail">
                        <img src="{{ book.idMedia.img }}" alt="{{ book.idMedia.name }}">
                        <div class="caption">
                            <h3>{{ book.idMedia.name }}</h3>
                            <p><span class="glyphicon glyphicon-book"></span> {{ book.idMedia.author }}</p>
                            <legend>Description</legend>
                            <p>{{ book.idMedia.description | slice(0, 200) }}...</p>
                            <p><button href="#" class="btn btn-primary open-exchange" role="button" data-toggle="modal" data-id-media="{{ book.idMedia.idMedia }}" date-id-user="{{ book.idUser.id }}" data-target="#myModal"><span class="glyphicon glyphicon-inbox"></span> Demande d'échange</button></p>
                        </div>
                    </div>
                </div>
            {% endfor%}
        </div>
        <hr>
        <div class="row">
            <h2>Contactez {{ user.username }}</h2>
            <div class="col-md-offset-4 col-md-4">
                <div class="alert-contact"></div>
                <div class="form-group">
                    <label>Votre nom</label>
                    <input type="text" class="form-control" id="name_user" required/>
                </div>
                <div class="form-group">
                    <label>Votre adresse email</label>
                    <input type="email" class="form-control" id="mail_user" required/>
                </div>
                <div class="form-group">
                    <label>Sujet</label>
                    <input type="text" class="form-control" id="subject_user" required/>
                </div>
                <div class="form-group">
                    <label>Votre Message</label>
                    <textarea class="form-control" placeholder="Votre message" aria-multiline="true" id="message_user" required></textarea>
                </div>
                <div class="text-center">
                    <button class="btn btn-default send_message" design="green"><span class="glyphicon glyphicon-send"></span> Envoyer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Script Modal -->
    <script>
        $('#myModal').on('shown.bs.modal', function () {

        })
    </script>
    <!-- Modal pour la demande d'échange -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Demander un échange à {{ user.username }}</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-4">
                        <img src="" class="img-responsive img-modal-book" />
                    </div>
                    <div class="col-md-8">
                        <h4 class="title-book"></h4>
                        <p><strong class="author-book"></strong></p>
                        <p class="description-book"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-send"></span> Envoyer la demande</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}