{% extends 'base.html.twig' %}
{% block javascript %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
{% endblock %}
{% block stylesheets %}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container ng-non-bindable">
        <h2>Espace adminitration</h2>
        <div class="homepage_settings">
            <div class="row">
                <legend>Page d'accueil</legend>
                {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.concept,{'label': 'Le concept : ','id': 'editor1'}) }}
                <br>
                <div class="text-center">
                    {{ form_row(form.save, {'label': 'Mise à jour du context'}) }}
                </div>
                {{ form_end(form) }}
            </div>
            <div class="row">
                <h3>A la Une</h3>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail" style="height:350px;">
                        <img src="/assets/plus.svg" alt="plus">
                    </div>
                </div>
                {% for hasOne in has_one_list %}
                    <div class="col-sm-6 col-md-4" >
                        <div class="thumbnail" style="height:350px;">
                            <img src="{{ hasOne.idMedia.img }}" alt="...">
                            <div class="caption">
                                <h3>{{ hasOne.idMedia.name }}</h3>
                                <p>{{ hasOne.idMedia.author }}</p>
                                <p class="text-center"><a href="/admin/hasone/delete/{{ hasOne.id}}/" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-remove"></span> Supprimer</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="contenus">
            <div class="row">
                <legend>Contenus</legend>
                <div class="row">
                    <div class="col-lg-2">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#"><i class="fa fa-home fa-fw"></i><span class="glyphicon glyphicon-plus"></span> Ajouter</a></li>
                            <li><a href="#"><i class="fa fa-list-alt fa-fw"></i><span class="glyphicon glyphicon-pencil"></span> Modifier</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-10">
                        <div class="row update-book-select">
                            <h3 class="text-center">Modifier un livre</h3>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            Rien pour le moment
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="static-page">
            <legend>Pages Statiques</legend>
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Date création</th>
                    <th>Date der. modification</th>
                    <th>Catégorie</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>
                </tr>
                {% for cms in list_cms %}
                    <tr>
                        <td>{{ cms.id }}</td>
                        <td>{{ cms.title }}</td>
                        <td>{{ cms.dateCreated|date("d/m/Y") }}</td>
                        <td>{{ cms.dateUpdate|date("d/m/Y") }}</td>
                        <td>{{ cms.Category }}</td>
                        <td class="text-center">{% if cms.isActive == true %}<span class="glyphicon glyphicon-ok" style="color:green"></span>{% else %}<span class="glyphicon glyphicon-remove" style="color: red;"></span>{% endif %}</td>
                        <td class="text-center"><a href="/cms/{{ cms.permalink }}" title="Ouvrir" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a> <a href="/admin/update-cms/{{ cms.id }}/" title="Modifier" class="btn btn-warning"><span class="glyphicon glyphicon-cog"></span></a> <a href="/admin/delete-cms/{{ cms.id }}/" title="Supprimer" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                {% endfor %}
            </table>

            {{ form_start(cms_form) }}
            {{ form_errors(cms_form) }}

            {{ form_row(cms_form.title, {'label':'Titre de la page: '}) }}
            <br>
            {{ form_row(cms_form.Category, {'label':'Choix Catégorie : '}) }}
            <br>
            {{ form_row(cms_form.img, {'label':'Lien de l\'image : '}) }}
            <br>
            {{ form_row(cms_form.content, {'label':'Votre page : ','id' : 'page_cms'}) }}
            <br>
            <div class="col-xs-2">
            {{ form_row(cms_form.levelAccess,{'label':'Niveau d\'accès : '}) }}
            </div>
            <br>
            {{ form_row(cms_form.isActive, {'label': 'Activer la publication : '}) }}
            <br>
            {{ form_row(cms_form.save) }}
            <br>
            {{ form_end(cms_form) }}
        </div>
        <div class="salons">
            <legend>Salons</legend>
            <div class="row">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Créer un Chatroom</button>
                <br>
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Titre du livre</th>
                        <th>Date Début</th>
                        <th>Date Fermeture</th>
                        <th>Nb. de participans</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                    {% for chatroom in list_chatroom %}
                        <tr>
                            <td>{{ chatroom.idChatroom }}</td>
                            <td>{{ chatroom.name }}</td>
                            <td>{{ chatroom.idMedia.name }}</td>
                            <td>{{ chatroom.dateStart|date("d/m/Y") }}</td>
                            <td>{{ chatroom.dateEnd |date("d/m/Y") }}</td>
                            <td></td>
                            <td class="text-center">{%  if chatroom.status == 0 %}<span title="Fermé" style="color:darkgray;" class="glyphicon glyphicon-flash"></span>{%  elseif chatroom.status == 1 %}<span title="En cours" style="color:#008000;" class="glyphicon glyphicon-flash"></span>{%  else %}<span title="Terminé" style="color:#0000cc;" class="glyphicon glyphicon-flash"></span>{%  endif %}</td>
                            <td class="text-center"><a href="#" title="Modifier" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a> <a href="/admin/update-cms//" title="Modifier" class="btn btn-warning"><span class="glyphicon glyphicon-cog"></span></a> <a href="/admin/delete-room/{{ chatroom.idChatroom }}/" title="Supprimer" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
<script src="/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor1');
    CKEDITOR.replace('page_cms');
</script>
{% endblock %}
