{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
{{ form_end(form) }}

<!-- <div class="flex-container" ng-non-bindable>
  <div id='popup-connexion' class="popup-box static" style='width: 400px'>
      <div class="header">
          Completer ses informations
      </div>
      <div class="content">
        <form action="{{path('fos_user_registration_register') }}" method="post">

          <input class="input-form" type="email" id="mail" placeholder="Adresse Mail" name="fos_user_registration_form[email]" required="required" />

          <input class="input-form" type="text" placeholder='{{ 'security.login.username'|trans }}' id="username" name="fos_user_registration_form[username]" required="required" />

          <input class="input-form" type="password" placeholder='{{ 'security.login.password'|trans }}' id="password" name="fos_user_registration_form[plainPassword][first]" required="required" />

          <input class="input-form" type="password" placeholder='Confirmez le mot de passe' id="password_confirm" name="fos_user_registration_form[plainPassword][second]" required="required" />

          <textarea class="input-form" placeholder="Description" name="fos_user_registration_form[description]" required="required" ></textarea>

      </div>
      <div class="footer">
        <button class='bouton' design='green' type="submit" id="_submit" name="fos_user_registration_form[save]" value="{{ 'security.login.submit'|trans }}">Créer mon compte</button>
      </div>
      </form>
  </div>
</div> -->
